body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
    padding:0;
    margin:0;
    height: 100%;
}

/* Top Nav bar section */
#nav-header{
    height: 110px;
    left:0;
    right:0;
    top:0;
    padding: 10px;
    display: flex;
    position: absolute;
    background-color: #fafafa;
    border-bottom: solid 1px #eeeeee;
}
#google-logo {
    width: 160px;
    height: 50px;   
    position: relative;
    padding-bottom: 18px;
    margin-right: 50px;
    margin-top: 10px;
    padding-left: 10px;
}
#form-bar {
    width: 600px;
    font-size: 16px;
    height: 33px;
    left: 10px;
    display: flex;
    background-color: white;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08)
}
#search-bar{
    width: 420px;
    border: none;
    background-color: white;
    outline: none;
    font-size: 13px;
}
#microphone {
    height: 24px;
    width: 24px;
    background-size: 24px;
    align-self: center;
    vertical-align: middle;
    margin-left: 100px;
}
#googlesearch{
    height: 24px;
    width: 24px;
    vertical-align: middle;
    color: #4285f4;
    padding: 6px;
}
#top-nav{
    position: fixed;
    right: 2%;
}
#top-nav ul {
	list-style-type: none;
	float: right;
    margin-top: 10px;
    right: 0%;
}
#top-nav li {
	display: inline;
    padding: 4px;
}
#top-nav li a {
    color: hsl(0, 0%, 20%);
    font-size: 14px;
}

#top-nav input {
	background-color: #4285f4;
	color: #fff;
	height: 30px;
	border-radius: 2px;
	font-weight: bold;
	padding: 0 16px;
}
#apps {
	position: relative;
    top: 4px;
    height: 24px;
	width: 24px;
}
#notifications {
	position: relative;
    top: 4px;
    height: 24px;
	width: 24px;
}
#profile_pic {
	position: relative;
	top: 4px;
	height: 24px;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}
a {
	text-decoration: none;
    color: inherit;
    padding-left: 15px;
    padding-right: 15px;
}
.activelink{
    border-bottom: 3px solid #1A73E8;
    color: #1A73E8;
    font-weight: bold;
}
#bottom-row{
    margin-top: 84px;
    position: relative;
    display: flex;
    font-size: 13px;
}
.search-items{
    padding: 10px;
}
#search-links{
    position: relative;
    display: flex;
    font-size: 13px;
    opacity: .7;
    margin-left: 150px;
}
#right-links{
    font-size: 13px;
    position: relative;
    margin-left: 150px;
    opacity: .7;
    display: flex;
}




/* Results main section */
.resultStats {
    margin-left: 165px;
    padding-top: 20px;
    font-size: 12px;
    line-height: 40px;
    color: #808080;
    overflow: hidden;
    text-overflow: ellipsis;
}
.allresults {
    margin-left: 165px;
    position: relative;
    display: flex;
    flex-direction: column;
}
#firstresult {
    border: solid 1px rgba(0,0,0,0.13);
    /* transition: opacity 150ms ease-in-out,height 150ms ease-in-out; */
    /* pointer-events: none; */
    /* opacity: 0; */
    width: 500px;
    left: -6px;
    /* transform: translateY(-11px); */
    border-radius: 2px;
    padding: 20px;
}
.link-heading {
    color: #1a0dab;
    font-size: 18px;
}
.websitelink{
    display: inline-block;
    font-size: 14px;
    padding-top: 2px;
    padding-bottom: 3px;
    width: 200px;
    position: relative;
    color: #006621;
}
.link-text{
    color: #545454;
    font-size: 13px;
    line-height: 18px;
    padding-top: 2px;
}
.othersearches{
    display: inline-block;
    font-size: 14px;
    padding-top: 1px;
    position: relative;
    line-height: 22px;
    color: #1a0dab;
}
.one-result {
    position: relative;
    display: block;
    width: 500px;
    padding:20px;
}
#searchingresults{
    font-size: 16px;
    color:#1a0dab;
    list-style: none;
    width: 500px;
    /* top:-50px; */
    columns: 2;
    margin-left: -19px;
    padding-bottom:30px;
}
li{
    left:0;
    padding-bottom: 5px;
}



/* Footer section */
footer {
	margin-top: 20px;
    height: 50px;
    bottom: 0;
    right 0;
    position: fixed;
    bottom: 0%;
    background-color: #eeeeee;
    width: 100%;
}
#foot-all {
    position: absolute;
    display: flex;
    width: 100%;
    top: 17px;
}
#footer-left {
    position: absolute;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    padding-left: 25px;
}
#footer-right {
    position: absolute;
    text-decoration: none;
    font-size: 13px;
    display: flex;
    padding-right: 25px;
    right:0;
}